*

!.gitignore
!alacritty
!alacritty/**
!dwm
!dwm/**
!foot
!foot/**
!git
!git/**
!hypr
!hypr/**
!nvim
!nvim/**
!picom
!picom/**
!river
!river/**
!rofi
!rofi/**
!scripts
!scripts/**
!shell
!shell/**
!sway
!sway/**
!swayimg
!swayimg/**
!swaync
!swaync/**
!sxhkd
!sxhkd/**
!themes
!themes/**
!tmux
!tmux/**
!waybar
!waybar/**

nvim/lazy-lock.json
nvim/lua/plugins/colors-nvim.lua
alacritty/colors-alacritty.toml
hypr/colors-hypr.conf
nvim/nvim-pack-lock.json
river/colors-river.sh
rofi/colors-rofi.rasi
waybar/colors-waybar.css
foot/colors-foot.ini
**/colors-wallpaper
dwm/dwm
