*

!.gitignore
!alacritty
!dwm
!foot
!git
!hypr
!nvim
!picom
!river
!rofi
!scripts
!shell
!sway
!swayimg
!swaync
!sxhkd
!themes
!tmux
!waybar

nvim/lazy-lock.json
nvim/lua/plugins/colors-nvim.lua
foot/colors-foot.ini
**/colors-wallpaper
