@import "colors-rofi.rasi"

window {
	border: 1;
}

inputbar {
	children: [textbox-prompt-colon, entry, prompt];
	border-color: @foreground;
	border: 0 0 1;
}

listview {
	border: 0;
	scrollbar: false;
}

textbox-prompt-colon {
	str: "❯";
	color: @foreground;
}

entry {
	placeholder: "";
}

element.normal.normal, element.alternate.normal {
	background-color: transparent;
}
