* { all: initial; }

@import "rose-pine.css";
@import "custom-settings.css";

* {
    /* reference the color by using @color-name */
    color: @text;
    font-family: "Hack Nerd Font Propo";
}

#clock {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-right: 8px;
    border-radius: 10px;
    margin-top: 12px;
    border-color: @iris;
    padding: 0px 8px;
}

#battery {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-top: 12px;
    margin-right: 8px;
    border-color: @love;
    padding-left: 8px;
    padding-right: 12px;
    border-radius: 10px;
}

#cpu {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-top: 12px;
    border-color: @rose;
    border-right: none;
    padding-left: 8px;
    margin-left: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#memory {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-top: 12px;
    border-color: @rose;
    border-left: none;
    padding-right: 8px;
    margin-right: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#idle_inhibitor  {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-right: 8px;
    margin-top: 12px;
    border-radius: 10px;
    border-color: @love;
    padding: 0px 8px;
}

#pulseaudio {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-right: 8px;
    border-radius: 10px;
    margin-top: 12px;
    border-color: @foam;
    padding: 0px 8px;
}

#network  {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-right: 8px;
    border-radius: 10px;
    margin-top: 12px;
    border-color: @gold;
    padding: 0px 8px;
}

#taskbar  {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-top: 12px;
    border-color: @text;
    padding: 0px 8px;
    border-radius: 10px;
}

#taskbar button {
    padding: 0px 8px;
}

#taskbar button.active  {
    background-color: @subtle;
    border-radius: 10px;
}

#window {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 12px;
    border-color: @pine;
    padding: 0px 8px;
}

#tray  {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 12px;
    border-color: @text;
    padding: 0px 8px;
    margin-right: 16px;
}

#workspaces  {
    background-color: @base;
    border-style: solid;
    border-width: 2px;
    margin-top: 12px;
    border-color: @text;
    margin-left: 16px;
    padding: 0px 8px;
    border-radius: 10px;
}

#workspaces button {
    background-color: @base;
    border: none;
    padding: 0px 0px;
    color: @text;
    margin: 0px 2px;
    padding: 0px 4px;
    min-width: 0px;
}

menu {
    background-color: @overlay;
    border-radius: 10px;
    border: 2px solid @text;
    padding: 10px;
}

menu :hover {
  background-color: @base;
  border-radius: 10px;
}

window#waybar {
    /* you can also GTK3 CSS functions! */
    background: transparent;
}
